@using Dominio.Entidades
@using Dominio

<script src="~/js/site.js" asp-append-version="true"></script>
@if (ViewBag.usuario is Cliente)//dashboard CLIENTE
{
    <script>
        let nav = document.getElementById("navegador");
        crearNodo(nav, "li", ["innerHTML", "Bienvenido " + "@ViewBag.usuario.Nombre " + "@ViewBag.usuario.Apellido", "class", "col-md-4"])
        crearNodo(nav, "li", ["innerHTML", "$" + "@ViewBag.usuario.SaldoBilletera", "class", "col-md-2"])
        crearNodo(nav, "a", ["innerHTML", "Cargar Saldo", "class", "btn-focus col-md-2", "href", "/Usuario/Saldo"]);
        crearNodo(nav, "a", ["innerHTML", "SALIR", "class", "btn-focus col-md-2", "href", "/Usuario/Logout"]);
    </script>
}
else if (ViewBag.usuario is Administrador)//dashboard ADMINISTRADOR
{
    <script>
        let nav = document.getElementById("navegador");
        crearNodo(nav, "li", ["innerHTML", "Bienvenido " + "@ViewBag.usuario.Nombre " + "@ViewBag.usuario.Apellido", "class", "col-md-4"])
        crearNodo(nav, "li", ["innerHTML", "ADMINISTRADOR", "class", "col-md-2"])
        crearNodo(nav, "a", ["innerHTML", "SALIR", "class", "btn-focus col-md-2", "href", "/Usuario/Logout"]);
    </script>
}
@if (ViewBag.Publicaciones.count != 0)
{
    <table class="table table-striped ">
        <theah>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Tipo</th>
                <th scope="col">Estado</th>
                <th scope="col">Precio</th>
                <th scope="col">Fecha de Publicación</th>
                <th scope="col"></th>
            </tr>
        </theah>
        @foreach (Publicacion item in ViewBag.Publicaciones)
        {
            <tr scope="row">
                <td>@item.Nombre</td>
                @if (item is Venta)
                {
                    <td>VENTA</td>
                }
                else if (item is Subasta)
                {
                    <td>SUBASTA</td>
                }
                <td>@item.EstadoPublicacion</td>
                <td>@item.ObtenerPrecio()</td>
                <td>@item.FechaPublicacion.ToShortDateString()</td>
                @if (ViewBag.usuario is Administrador)
                {
                    if (item.EstadoPublicacion == Estado.ABIERTA)
                    {
                        <td><a class="btn-focus btn-lista" href="/publicacion/FinalizarSubasta/@item.Id">FINALIZAR</a></td>
                    }
                    else
                    {
                        <td><a class="btn-focus btn-lista visually-hidden" href="/publicacion/FinalizarSubasta/@item.Id">FINALIZAR</a></td>
                    }
                }
                else if (ViewBag.usuario is Cliente)
                {
                    if (item.EstadoPublicacion == Estado.ABIERTA)
                    {
                        if (item is Venta)
                        {
                            <td><a class="btn-focus btn-lista" href="/publicacion/CompraPublicacion/@item.Id">COMPRAR</a></td>
                        }
                        else if (item is Subasta)
                        {
                            <td><a class="btn-focus btn-lista" href="/publicacion/OfertarSubasta/@item.Id">OFERTAR</a></td>
                        }
                    }
                    else
                    {
                        <td><a class="btn-focus btn-lista visually-hidden" href="#">SIN MOSTRAR</a></td>
                    }
                }
            </tr>
        }
    </table>
}
else
{
    <div class="alert alert-primary" role="alert">
        No hay publicaciones para mostrar.
    </div>
}
@if (ViewBag.msj != null && ViewBag.msj.ToString() != "")
{
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div class="toast bg-focus text-white" role="alert" aria-live="assertive" aria-atomic="true" id="myToast">
            <div class="toast-header text-white bg-focus">
                <strong class="me-auto">FOCUS</strong>
                <small>Web Store</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body bg-white text-dark">
                @ViewBag.msj
            </div>
        </div>
    </div>
}
